body {
  font-family: "Josefin Sans", sans-serif;
  background-image: linear-gradient(135deg, #fdfcfb 0%, #d6c1b0 100%);
  margin: 0;
}
.header {
  position: sticky;
  background-color: #fdfcfb;
}

h1 {
  color: #bb9473;
  font-size: 46px;
  font-weight: 500;
  padding: 20px;
  text-align: center;
}

#search-form {
  display: block;
  padding: 20px 20px 20px 120px;
  margin: 0 auto;
  max-width: 700px;
}

#loader {
  margin-top: 100px;
  margin: auto;
  border: 7px solid #eaf0f6;
  border-radius: 50%;
  border-top: 7px solid #bb9473;
  width: 50px;
  height: 50px;
  animation: spinner 3s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#prompt {
  border-radius: 5px;
  border-style: none;
  font-size: 18px;
  margin: 10px auto;
  padding: 7px;
  background-color: #fdfcfb;
  width: 70%;
  max-width: 500px;
}

#submit {
  display: inline-block;
  border-radius: 5px;
  border-style: none;
  background-color: #d8bba2;
  font-size: 18px;
  padding: 7px;
}

p {
  position: relative;
  top: -20px;
  color: rgba(0, 0, 0, 0.559);
}

.hidden {
  display: none;
}

#haiku {
  color: #553b25;
  padding: 10px;
  margin: 0 auto;
  text-align: center;
  font-size: 22px;
  line-height: 30px;
  max-width: 500px;
}

footer {
  background-color: #fdfcfb;
  position: fixed;
  bottom: 0;
  font-size: 14px;
  padding: 10px;
  text-align: center;
  width: 100%;
}
